body
{
	background-color: #43474C;
}

.navbar {
    margin-bottom: 1em;
}

#profileBubble
{
	height: 16em;
	width: 16em;
	border-radius: 50%;
	border-width: 2px;
}

#profileInfoAreaContainer
{
	padding: 2em 1em;
	background-color:#1f2423; 
	opacity: .9;
	border-radius: 2px;
}

#profileInfoArea
{
	color:white;
	margin-top: 1em;
}

.profileInfo
{
	padding:.2em;
	border-radius:3px;
	margin-top:.3em;
}

.pInfoText
{
	font-size: .7em;
	margin-top: .3em;
}