body
{
	background-color: #EDEDED;
}

.navbar {
    margin-bottom: 3em;
}

#profileBubble
{
	height: 16em;
	width: 16em;
	border-radius: 50%;
	border-width: 2px;
}

#profileInfoAreaContainer
{
	padding: 2em 1em;
	background-color:#1f2423;
	border-radius: 0 0 2px 2px;
}

#profileInfoArea
{
	color:white;
	margin-top: 1em;
}

.profileInfo
{
	margin-top: .5em;
}

.profileInfoHeader
{
	padding:.2em;
	border-radius:3px;
}

.pInfoText
{
	font-size: .7em;
	margin-top: .5em;
}

#nameDiv
{
	color:white;
}

#profilePageHeader
{
	height: 20.5em;
	background-color: #383C40;
	zoom: 1;
	filter: alpha(opacity=60);
	opacity: 0.6;
}

#profileBubble
{ 
   position: relative; 
   width: 100%; /* for IE 6 */ 
}

h2.editProfilePic { 
   position: absolute; 
   top: 5em; 
   left: 5em; 
   width: 100%; 
   pointer-events: none
}

h2.editProfilePic span { 
   color: white; 
   letter-spacing: -1px; 
}
