.settingLink
{
	cursor: pointer;
	background-color: #000066;
	color:white;
	padding: 1em 0;
	height: 100%;
	height: 100%;
	border-radius: .2em;
	border: 1px solid black;
	display: block;
}

.settingLink:hover
{
	border-color: white;
}

.settingsHeader
{
	display: inline-block;
	padding-bottom: 1em;
}
#settings-content
{
	border: 1px solid black;
	height: 30em;
	padding: 1em;
}
.setting
{

}

.firstTab
{
	display:block;
}

.otherTab
{
	display: none;
}